:root {
  --ford-blue: #003478;
}

.ford-blue-text {
  color: var(--ford-blue);
}

/* Opcional: Garante que a classe de centralização do Bootstrap funcione */
.text-center {
  text-align: center;
}